body
{
    background-image: url('kagyana-2955466_1920.jpg');
    background-repeat: no-repeat;
    color: white;
    font-size: 20px;
}
.secondportion
{
    display: flex;
}
.ingradients
{
    background-color: blueviolet;
    padding-top: 20px;
    box-shadow: 10px 10px 10px 10px;
    border-radius: 20px;
}
.instructions
{
    background-color: brown;
    margin-left: 20px;
    box-shadow: 10px 10px 10px 10px;
    border-radius: 20px;
}
.favourite{
    background-color: cadetblue;
    text-align: center;
    border-radius: 10px;
}
.instructions:hover
{
    cursor: pointer;
}
.ingradients:hover
{
    cursor: pointer;
}
.pics_gallery img
{
    width: 350px;
    height: 300px;
    border: 5px solid white;
}

.pics_gallery
{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 20px;
}
.pics_gallery img:hover
{
    transform: scale(1.1);
}
.favourite a:hover{
    color: white;
}

